@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --background: #fff;
    --foreground: #646464;

    --primary: #e2195f;
    --primary-foreground: #fff;

    --card: #fff;
    --card-foreground: #000;

    --popover: #f4f4f4;
    --popover-foreground: #000;

    --dropdown: #fff;
    --dropdown-foreground: #646464;

    --secondary: #d7134b;
    --secondary-foreground: #000;

    --tertiary: #1a61ff;
    --tertiary-foreground: #fff;

    --quaternary: #43c5ff;
    --quaternary-foreground: #fff;

    --quinary: #fff;
    --quinary-foreground: #000;

    --muted: #f7f7f8;
    --muted-foreground: #676767;

    --accent: #e2195f;
    --accent-foreground: #fff;

    --destructive: #ff0000;
    --destructive-foreground: #fff;

    --notice: #fff0f6;
    --notice-foreground: #d7134b;
    --notice-border: #ffbbd5;

    --border: #e8e8e8;
    --input: #fff;
    --switch: #e2e8f0;
    --select: #c5cfe4;
    --ring: #000;

    --main: #0033a1;

    --sub-indigo: #12124f;
    --sub-blue: #4b80ec;
    --sub-gray: #6d7281;

    --light-100: #f5f6fa;
    --light-50: #f8fafd;

    --gray-64: #646464;
    --gray-900: #000000;
    --gray-800: #2a2a2a;
    --gray-700: #404040;
    --gray-600: #5a5a5a;
    --gray-500: #676767;
    --gray-400: #909090;
    --gray-300: #dddddd;
    --gray-200: #e0e0e0;
    --gray-100: #f6f6f6;
    --gray-50: #fcfcfc;

    --line-200: #c4cee4;
    --line-100: #ccd6ec;
    --line-50: #eaedf1;

    --footer: #f6f6f6;

    --link-active: #e2195f;

    --radius: 0.5rem;
  }
  .dark {
    --background: #fff;
    --foreground: #646464;

    --primary: #e2195f;
    --primary-foreground: #fff;

    --card: #fff;
    --card-foreground: #000;

    --popover: #f4f4f4;
    --popover-foreground: #000;

    --dropdown: #fff;
    --dropdown-foreground: #646464;

    --secondary: #d7134b;
    --secondary-foreground: #000;

    --tertiary: #1a61ff;
    --tertiary-foreground: #fff;

    --quaternary: #43c5ff;
    --quaternary-foreground: #fff;

    --quinary: #fff;
    --quinary-foreground: #000;

    --muted: #f7f7f8;
    --muted-foreground: #676767;

    --accent: #e2195f;
    --accent-foreground: #fff;

    --destructive: #ff0000;
    --destructive-foreground: #fff;

    --notice: #fff0f6;
    --notice-foreground: #d7134b;
    --notice-border: #ffbbd5;

    --border: #e8e8e8;
    --input: #fff;
    --switch: #e2e8f0;
    --select: #c5cfe4;
    --ring: #000;

    --main: #0033a1;

    --sub-indigo: #12124f;
    --sub-blue: #4b80ec;
    --sub-gray: #6d7281;

    --light-100: #f5f6fa;
    --light-50: #f8fafd;

    --gray-64: #646464;
    --gray-900: #000000;
    --gray-800: #2a2a2a;
    --gray-700: #404040;
    --gray-600: #5a5a5a;
    --gray-500: #676767;
    --gray-400: #909090;
    --gray-300: #dddddd;
    --gray-200: #e0e0e0;
    --gray-100: #f6f6f6;
    --gray-50: #fcfcfc;

    --line-200: #c4cee4;
    --line-100: #ccd6ec;
    --line-50: #eaedf1;

    --footer: #f6f6f6;

    --link-active: #e2195f;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* 글꼴 */
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src:
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-Regular.woff2')
        format('woff2'),
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-Regular.woff')
        format('woff'),
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-Regular.eot')
        format('embedded-opentype');
  }
  @font-face {
    font-family: 'Pretendard-Medium';
    font-weight: 500;
    font-style: normal;
    src:
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-Medium.woff2')
        format('woff2'),
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-Medium.woff')
        format('woff');
  }

  @font-face {
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
    font-style: 'normal';
    src:
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-SemiBold.woff2')
        format('woff2'),
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-SemiBold.woff')
        format('woff'),
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-SemiBold.eot')
        format('embedded-opentype');
  }

  @font-face {
    font-family: 'Pretendard-Bold';
    font-weight: 700;
    font-style: 'normal';
    src:
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-Bold.woff2')
        format('woff2'),
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-Bold.woff')
        format('woff');
  }

  @font-face {
    font-family: 'Pretendard-ExtraBold';
    font-weight: 800;
    font-style: 'normal';
    src:
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-ExtraBold.woff2')
        format('woff2'),
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-ExtraBold.woff')
        format('woff'),
      url('https://storage.googleapis.com/asset.dershare.xyz/pub/solarkim/fonts/Pretendard-ExtraBold.eot')
        format('embedded-opentype');
  }
  /* header */
  .h1-bold {
    @apply font-PretendardBold text-[60px] leading-none max-pc:text-[32px] !important;
  }

  .h1-semibold {
    @apply font-PretendardSemiBold text-[60px] leading-none max-pc:text-[32px] !important;
  }

  .h1-medium {
    @apply font-PretendardMedium text-[60px] leading-none max-pc:text-[32px] !important;
  }

  .h1 {
    @apply font-Pretendard text-[60px] leading-none max-pc:text-[32px] !important;
  }

  .h2-bold {
    @apply font-PretendardBold text-[48px] leading-tight max-pc:text-[28px] !important;
  }

  .h2-semibold {
    @apply font-PretendardSemiBold text-[48px] leading-tight max-pc:text-[28px] !important;
  }

  .h2-medium {
    @apply font-PretendardMedium text-[48px] leading-tight max-pc:text-[28px] !important;
  }

  .h2 {
    @apply font-Pretendard text-[48px] leading-tight max-pc:text-[28px] !important;
  }

  /* semititle */
  .s1-bold {
    @apply font-PretendardBold text-[36px] leading-tight max-pc:text-[20px] !important;
  }

  .s1-semibold {
    @apply font-PretendardSemiBold text-[36px] leading-tight max-pc:text-[20px] !important;
  }

  .s1-medium {
    @apply font-PretendardMedium text-[36px] leading-tight max-pc:text-[20px] !important;
  }

  .s1 {
    @apply font-Pretendard text-[36px] leading-tight max-pc:text-[20px] !important;
  }

  .s2-bold {
    @apply font-PretendardBold text-[28px] leading-none max-pc:text-[18px] !important;
  }

  .s2-semibold {
    @apply font-PretendardSemiBold text-[28px] leading-none max-pc:text-[18px] !important;
  }

  .s2-medium {
    @apply font-PretendardMedium text-[28px] leading-none max-pc:text-[18px] !important;
  }

  .s2 {
    @apply font-Pretendard text-[28px] leading-none max-pc:text-[18px] !important;
  }

  .s3-bold {
    @apply font-PretendardBold text-[26px] leading-normal max-pc:text-[16px] !important;
  }

  .s3-semibold {
    @apply font-PretendardSemiBold text-[26px] leading-normal max-pc:text-[16px] !important;
  }

  .s3-medium {
    @apply font-PretendardMedium text-[26px] leading-normal max-pc:text-[16px] !important;
  }

  .s3 {
    @apply font-Pretendard text-[26px] leading-normal max-pc:text-[16px] !important;
  }

  .s4-bold {
    @apply font-PretendardBold text-[24px] leading-normal max-pc:text-[18px] !important;
  }

  .s4-semibold {
    @apply font-PretendardSemiBold text-[24px] leading-normal max-pc:text-[18px] !important;
  }

  .s4-medium {
    @apply font-PretendardMedium text-[24px] leading-normal max-pc:text-[18px] !important;
  }

  .s4 {
    @apply font-Pretendard text-[24px] leading-normal max-pc:text-[18px] !important;
  }

  .s5-bold {
    @apply font-PretendardBold text-[20px] leading-none max-pc:text-[16px] !important;
  }

  .s5-semibold {
    @apply font-PretendardSemiBold text-[20px] leading-none max-pc:text-[16px] !important;
  }

  .s5-medium {
    @apply font-PretendardMedium text-[20px] leading-none max-pc:text-[16px] !important;
  }

  .s5 {
    @apply font-Pretendard text-[20px] leading-none max-pc:text-[16px] !important;
  }

  .s6-bold {
    @apply font-PretendardBold text-[18px] leading-normal max-pc:text-[14px] !important;
  }

  .s6-semibold {
    @apply font-PretendardSemiBold text-[18px] leading-normal max-pc:text-[14px] !important;
  }

  .s6-medium {
    @apply font-PretendardMedium text-[18px] leading-normal max-pc:text-[14px] !important;
  }

  .s6 {
    @apply font-Pretendard text-[18px] leading-normal max-pc:text-[14px] !important;
  }

  .s7-bold {
    @apply font-PretendardBold text-[16px] leading-normal max-pc:text-[12px] !important;
  }

  .s7-semibold {
    @apply font-PretendardSemiBold text-[16px] leading-normal max-pc:text-[12px] !important;
  }

  .s7-medium {
    @apply font-PretendardMedium text-[16px] leading-normal max-pc:text-[12px] !important;
  }

  .s7 {
    @apply font-Pretendard text-[16px] leading-normal max-pc:text-[12px] !important;
  }

  /* body */
  .b1-bold {
    @apply font-PretendardBold text-[20px] leading-normal max-pc:text-[16px] !important;
  }

  .b1-semibold {
    @apply font-p leading max-pc:text-[16px]-normal font-PretendardSemiBold text-[20px] !important;
  }

  .b1-medium {
    @apply font-PretendardMedium text-[20px] leading-normal max-pc:text-[16px] !important;
  }

  .b1 {
    @apply font-Pretendard text-[20px] leading-normal max-pc:text-[16px] !important;
  }
  /* figma 상에서 b3랑 b2랑 text size line-height 값 동일 따라서 코드에서는 b2로 통일 */
  .b2-bold {
    @apply font-PretendardBold text-[18px] leading-normal max-pc:text-[14px] !important;
  }

  .b2-semibold {
    @apply font-PretendardSemiBold text-[18px] leading-normal max-pc:text-[14px] !important;
  }

  .b2-medium {
    @apply font-PretendardMedium text-[18px] leading-normal max-pc:text-[14px] !important;
  }

  .b2 {
    @apply font-Pretendard text-[18px] leading-normal max-pc:text-[14px] !important;
  }

  .b3-bold {
    @apply font-PretendardBold text-[16px] leading-normal max-pc:text-[14px] !important;
  }

  .b3-semibold {
    @apply font-PretendardSemiBold text-[16px] leading-normal max-pc:text-[14px] !important;
  }

  .b3-medium {
    @apply font-PretendardMedium text-[16px] leading-normal max-pc:text-[14px] !important;
  }

  .b3 {
    @apply font-Pretendard text-[16px] leading-normal max-pc:text-[14px] !important;
  }

  .b4-bold {
    @apply font-PretendardBold text-[14px] leading-normal max-pc:text-[12px] !important;
  }

  .b4-semibold {
    @apply font-PretendardSemiBold text-[14px] leading-normal max-pc:text-[12px] !important;
  }

  .b4-medium {
    @apply font-PretendardMedium text-[14px] leading-normal max-pc:text-[12px] !important;
  }

  .b4 {
    @apply font-Pretendard text-[14px] leading-normal max-pc:text-[12px] !important;
  }

  /* button */
  .btn1-bold {
    @apply font-PretendardBold text-[18px] leading-normal !important;
  }

  .btn1-semibold {
    @apply font-PretendardSemiBold text-[18px] leading-normal !important;
  }

  .btn1-medium {
    @apply font-PretendardMedium text-[18px] leading-normal !important;
  }

  .btn1 {
    @apply font-Pretendard text-[18px] leading-normal !important;
  }

  .btn2-bold {
    @apply font-PretendardBold text-[16px] leading-tight !important;
  }

  .btn2-semibold {
    @apply font-PretendardSemiBold text-[16px] leading-tight !important;
  }

  .btn2-medium {
    @apply font-PretendardMedium text-[16px] leading-tight !important;
  }

  .btn2 {
    @apply font-Pretendard text-[16px] leading-tight !important;
  }

  .btn3-bold {
    @apply font-PretendardBold text-[14px] leading-tight !important;
  }

  .btn3-semibold {
    @apply font-PretendardSemiBold text-[14px] leading-tight !important;
  }

  .btn3-medium {
    @apply font-PretendardMedium text-[14px] leading-tight !important;
  }

  .btn3 {
    @apply font-Pretendard text-[14px] leading-tight !important;
  }

  /* description 18/30 */
  .desc-bold {
    @apply font-PretendardBold text-[18px] leading-[30px] max-pc:text-[12px] max-pc:leading-[22px] !important;
  }

  .desc-semibold {
    @apply font-PretendardSemiBold text-[18px] leading-[30px] max-pc:text-[12px] max-pc:leading-[22px] !important;
  }

  .desc-medium {
    @apply font-PretendardMedium text-[18px] leading-[30px] max-pc:text-[12px] max-pc:leading-[22px] !important;
  }

  .desc {
    @apply font-Pretendard text-[18px] leading-[30px] max-pc:text-[12px] max-pc:leading-[22px] !important;
  }

  /* GNB */
  .gnb1-bold {
    @apply font-PretendardBold text-[16px] leading-none max-pc:text-[12px] !important;
  }

  .gnb1-semibold {
    @apply font-PretendardSemiBold text-[16px] leading-none max-pc:text-[12px] !important;
  }

  .gnb1-medium {
    @apply font-PretendardMedium text-[16px] leading-none max-pc:text-[12px] !important;
  }

  .gnb1 {
    @apply font-Pretendard text-[16px] leading-none max-pc:text-[12px] !important;
  }
}
